.mainForm {
  padding: 20px 0px;
  margin: 20px 100px;
  background-color: var(--bg-secondary);
  display: grid;
  align-items: center;
  border-radius: 15px;
}

.mainForm__header {
  text-align: center;
  color: var(--text-primary);
  border-bottom: 3px solid var(--border-color);
}

.mainForm__header h1 {
  margin: 0 0 20px;
}

.mainForm__cards {
  min-height: 617px;
  display: grid;
  gap: 25px;
  padding: 25px 0;
}

.mainForm__cards > section {
  margin: 0 15px;
  padding: 0 15px;
  border: 2px solid var(--card-border);
  background-color: var(--card-bg);
  color: var(--card-text);
  min-height: 145px;
}