.comment {
  border-radius: 15px;
  background-color: var(--bg-primary);
  border: 2px solid var(--border-color);
  margin: 20px 0;
}

.comment h2, h4 {
  margin: 0;
  padding: 15px 10px 0;
}

.comment h3 {
  padding: 15px 10px 0;
}