.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.card {
  margin: 15px;
  padding: 20px 25px;
  border: 2px solid var(--card-border);
  border-radius: 5px;
  background-color: var(--card-bg);
  width: 200px;
  height: 150px;
  display: flex;
}

.cardColumn {
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.img {
  width: 100px;
}

.Unfinished {
  color: #ff0000;
}

.Completed {
  color: #008000;
}