#root {
  --bg-primary: #ffffff;
  --bg-secondary: #d6e7f7;
  --text-primary: #212529;
  --border-color: #9a9a9b;
  --modal-color:#ececec;

  --card-bg: #ffffffe6;
  --card-border: 2px solid #0000004d;
  --card-text: #2d2d2d;
}

#root.darkTheme {
  --bg-primary: #888585;
  --bg-secondary: #1d1c1c71;
  --text-primary: #ffffff;
  --border-color: #b973737c;
  --modal-color: rgb(150, 139, 139);
  
  --card-bg: #ffffff3b;
  --card-border: 2px solid #ffffff7c;
  --card-text: #ffffff;
  
  background-color: var(--bg-primary);
}

body {
  margin: 0;
}