#root {
  --bg-primary: #dfdfdf;
  --bg-secondary: #96999b;
  --text-primary: #212529;
  --border-color: #9a9a9b;
  --modal-color:#ececec;

  --card-bg: #ffffffe6;
  --card-border: 2px solid #0000004d;
  --card-text: #2d2d2d;

  background-color: var(--bg-primary);
}

#root.darkTheme {
  --bg-primary: #888585;
  --bg-secondary: #1d1c1c71;
  --text-primary: #ffffff;
  --border-color: #b973737c;
  --modal-color: #968b8b;
  
  --card-bg: #1b1b1b2f;
  --card-border: 2px solid #ffffff7c;
  --card-text: #ffffff;
}

body {
  margin: 0;
}