.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.mainHeader__icon {
  display: flex;
  gap: 10px;
}

.mainHeader__button {
  background-color: var(--card-bg);
  border: 0;
  border-radius: 15px;
  padding: 10px 40px;
  color: var(--text-primary);
  font-size: 1.2em;
}

.mainHeader__button:hover {
  cursor: pointer;
  background-color: var(--bg-primary);
}