.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.mainHeader__icon {
  display: flex;
  gap: 10px;
}